@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body {
    color: white;
    font-size: 0.938rem;
    background-color:hsl(233, 47%, 7%)
}

.main-container {
   min-height: 100dvh;
   width: auto;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin: auto;
   padding: auto;
}

.container-content {
    font-family: "Inter", system-ui;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: 35.623rem;
    max-height: 27.830rem;
    text-wrap:wrap;

}

.text-content {
    background-color: hsl(244, 38%, 16%);
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
    text-wrap: wrap;
    padding: 4rem;
}


.header-title {
    margin: 0;
    margin-bottom: 1.938rem;
    width: 27.188rem;
    font-size: 2.25rem;
    letter-spacing: 0.063rem;
}

.text-content span {
    color: hsl(277, 64%, 61%);
}

.statement {
    font-size: 0.938rem;
    font-weight: 300;
    width: 21.688rem;
    line-height: 1.8;
    font-family: "Inter" system-ui;
    margin-bottom: 3.688rem;
    color: hsla(0, 0%, 100%, 0.75);
}

.list-columns {
    display: flex;
    flex-direction: row;
}

.list-columns p {
    margin: 0 4.063rem 0.513rem 0;
    padding: 0;
}

.num {
    font-size: 1.563rem;
    font-weight: 600;
}

.text {
    font-size: 0.638rem;
    font-weight: 300;
    letter-spacing: 0.160rem;
    color: hsla(0, 0%, 100%, 0.6);
}

.image-section {
    position: relative;
}

.img-cover {
    background-color: hsl(277, 79%, 28%);
    min-height: 27.830rem;
    width: 33.688rem;
    border-top-right-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
}

.img {
    min-height: 100%;
    width: 33.688rem;
    border-top-right-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}

@media only screen and (max-width: 1000px) {
    
    body{
        margin: 0;
        padding: 0;
        height: 0;
        
    }
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15rem 10rem 10rem 10rem;
    }

    .container-content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    
    .img, .img-cover {
        border-top-left-radius: 0.625rem;
        border-top-right-radius: 0.625rem;
        border-bottom-right-radius: 0;
    }

    .text-content {
        margin: -0.290rem;
        margin-bottom: 20rem;
        border-bottom-left-radius: 0.625rem;
        border-bottom-right-radius: 0.625rem;
        border-top-left-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 33.700rem;
    }

    .list-columns{
        display: flex;
        flex-direction: row;
    }

    .header-title{
        text-align: center;
        padding: 3rem 0 2rem 0;
        margin: 0;
       
    }
    .statement {
        text-align: center;
    }
}

